<div class='container px-5 px-sm-0'>
  <%= render 'layouts/errors', obj: @record_tea_leafe %>
  <div class='row'>
    <div class='col-md-3'>
      <%= render 'public/records/sidebar', record: @record %>
    </div>
    <div class='col-md-9'>
      <h5>投稿フォーム</h5>
      <%= render 'tea_form', record: @record_tea_leafe %>
    </div>
  </div>
</div>