<div class='container px-3 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <%= render 'public/records/sidebar', record: @record %>
    </div>

    <div class='col-md-9 py-5'>
      <%= render 'public/record_tea_leaves/tea_frame', record_tea_leafe: @record_tea_leafe %>
    </div>
  </div>
</div>