<div class="container w-75">
  <div class="card py-3 px-5 my-5">
    <div class="margin-y">
      <div class="mx-auto mb-5" style="width: 150px;">
        <%= image_tag asset_path("logo_about.png"), style: "width: 150px" %>
      </div>
      <p class="text-center">お気に入りのコーヒーをおすすめしたくて、</p>
      <p class="text-center">気になっている茶葉の感想をききたくて、</p>
      <p class="text-center">出会った魅惑の一杯を記録しておきたくて、</p>
      <p class="text-center">そんな風に使っていただけたらうれしいです。</p>
      <br>
      <p class="text-center">もしかしたら、まだ出会っていない一杯が見つかるかもしれません。</p>
    </div>
  </div>
</div>
