<div class="container-fluid">
	<div class="row">
			  <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6 text-center">
			  <h3 class="top-text">Welcome to Cafe rec.</h3>
				<p class="top-text my-3">
        お気に入りの一杯を、おすすめしませんか？</p>
          <%= link_to 'ENTER', new_user_session_path, class: "btn btn-outline-light mb-3 sign_in" %>
        </div>
			</div>
		</div>
	</div>
</div>