<div class="container w-75">
  <div class="background-board py-3 px-5 my-4">
      <h4 class="h4-create mb-5">Tea Review編集</h4>
        <%= render 'layouts/errors', obj: @record_tea_leafe %>
      <div class="col-10 mx-auto">
        <%= form_with model: @record_tea_leafe, url: admin_record_tea_leafe_path do |f| %>
          <%= render 'public/record_tea_leaves/tea_form', f: f %>
        <div class="form-group">
          <%= f.submit '変更を保存', class: "btn btn-success  mx-auto my-3 d-block" %>
        </div>
        <% end %>
      </div>
  </div>
</div>
