<!-- 折り畳み展開ポインタ -->
<div class="card my-5 px-2 py-2" style="width: 12rem;">
  <div onclick="obj=document.getElementById('open').style; obj.display=(obj.display=='none')?'block':'none';">
    <a style="cursor:pointer;">▼ Search</a>
 </div>
<!--// 折り畳み展開ポインタ -->
<!-- 折り畳まれ部分 -->
  <div id="open" style="display:none;clear:both;">
  <!--ここの部分が折りたたまれる＆展開される部分になります。自由に記述してください。-->
          <div class="search_form d-flex justify-content-end">
         <%= form_with url:record_search_path, method: :get do |f| %>
      <%= f.select :range, options_for_select([['Coffee'], ['Tea']]) %>
      <%= f.text_field :word %>
      <%= f.submit "検索" %>
    <% end %>
        </div>
      
  </div>
</div>
<!--// 折り畳まれ部分 -->