<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <%= render 'public/records/sidebar', record: @record %>
    </div>

      <% @record_coffees.zip(@record_tea_leaves) do |coffee, tea| %>
        <% if coffee.class.name == "RecordCoffee" %>
          <%# record_coffeeの表示 %>
          <%= render 'public/records/coffee_list', record_coffee: coffee %>
        <% else %>
          <%# record_tea_leafeの表示 %>
          <%= render 'public/records/tea_list', record_tea_leafe: tea %>
        <% end %>
      <% end %>
  </div>
</div>
