<div class='container px-3 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <%= render 'public/records/sidebar', record: @record %>
    </div>

    <div class='col-md-9 py-5'>
      <div class='background-record ml-2 py-3 px-5'>
        <div id="anchor-coffee-favorite"><h4 class='h4-favorite'>Favorite Coffee List</h4></div>
        <div class="mx-auto mt-5">
          <% if @coffee_favorite_list.present? %>
            <% @coffee_favorite_list.each do |record_coffee| %>
              <%= render 'public/record_coffees/index', record_coffee: record_coffee %>
            <% end %>
          <% else %>
            <p>お気に入りしたコーヒーのレビューはありません</p>
          <% end %>
        </div>
        <div class="d-flex justify-content-end">
          <a href="#anchor-coffee-favorite">トップへ戻る▲</a>
        </div>
      </div>
    </div>
  </div>
</div>
