<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <%= render 'public/records/sidebar', record: @record %>
    </div>

    <div class='col-md-9 py-5'>
    <div class='background-record ms-2 py-3 px-5'>
      <h4 class='h4-favorite'>Coffee いいね一覧</h4>
      <% if @coffee_favorite_list.present? %>
        <% @coffee_favorite_list.each do |record_coffee| %>
          <%= render 'public/record_coffees/index', record_coffee: record_coffee %>
        <% end %>
      <% else %>
          <p>いいねしたコーヒーのレビューはありません</p>
      <% end %>
    </div>
  </div>
</div>
