<div class='container px-5 px-sm-0'>
  <%# render 'layouts/errors', obj: @record %>
  <div class='row'>
    <div class='col-md-3'>
      <%= render 'public/records/sidebar', record: @record %>
    </div>

    <div class='col-md-9'>
      <h4>Coffee</h4>
      <% if @coffee_favorite.present? %>
        <% @coffee_favorite.each do |record_coffee| %>
          <%# record_coffeeの表示 %>
          <%= record_coffee.item_name %>
        <% end %>
        <% else %>
          <p>いいねしたコーヒーのレビューはありません</p>
      <% end %>
      
      <h4>Tea</h4>
      <% if @tea_favorite.present? %>
        <% @tea_favorite.each do |record_tea_leafe| %>
          <%# record_tea_leafeの表示 %>
          <%= record_tea_leafe.item_name %>
        <% end %>
        <% else %>
          <p>いいねした紅茶のレビューはありません</p>
      <% end %>
    </div>
  </div>
</div>
