<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <%= render 'public/records/sidebar', record: @record %>
    </div>

    <div class='col-md-9 py-5'>
    <div class='background-record ms-2 py-3 px-5'>
      <h4 class='h4-favorite'>Tea いいね一覧</h4>
      <% if @tea_favorite_list.present? %>
        <% @tea_favorite_list.each do |record_tea_leafe| %>
          <%= render 'public/record_tea_leaves/index', record_tea_leafe: record_tea_leafe %>
        <% end %>
      <% else %>
          <p>いいねした紅茶のレビューはありません</p>
      <% end %>
    </div>
  </div>
</div>