<div class='container px-3 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <%= render 'public/records/sidebar', record: @record %>
    </div>

    <div class='col-md-8 py-5'>
      <div class='background-record ms-2 p-2'>
        <h4 class="h4-review">Coffee Review</h4>
        <%= render 'public/record_coffees/coffee_frame', record_coffee: @record_coffee, comment: @comment %>
      </div>
    </div>
  </div>
</div>