<div class="container w-75">
  <div class="background-board py-3 px-5 my-4">
      <h4 class="h4-create mb-5">Coffee Review編集</h4>
        <%= render 'layouts/errors', obj: @record_coffee %>
      <div class="col-10 mx-auto">
        <%= form_with model: @record_coffee, url: admin_record_coffee_path do |f| %>
          <%= render 'public/record_coffees/coffee_form', f: f %>
        <div class="form-group">
          <%= f.submit "変更を保存"%>
        </div>
        <% end %>
      </div>
  </div>
</div>