<div class='container px-5 px-sm-0'>
  <%= render 'layouts/errors', obj: @record_coffee %>
  <div class='row'>
    <div class='col-md-9'>
      <h5>投稿フォーム</h5>
      <%= form_with model: @record_coffee, url: admin_record_coffee_path do |f| %>
          <%= render 'public/record_coffees/coffee_form', f: f %>
        <div class="form-group">
      <%= f.submit "変更を保存"%>
  </div>
<% end %>

    </div>
  </div>
</div>