<div class="container w-75">
  <div class="background-board py-3 px-5 my-4">
    <div class="d-flex align-items-center justify-content-between">
      <h4 class="h4-review mb-5">タグが"<%= @tag.name %>"のCoffee Review</h4>
    </div>
      <%= render 'admin/record_coffees/index', record_coffee: @record_coffee %>
  </div>
  <%= paginate @record_coffees %>
</div>