@use '~bootstrap/scss/bootstrap';


.cover-img {
	height: 500px;
	display: table;
	width: 100%;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

//ワイドスクリーン用のCSS
@media only screen and (min-width: 1500px) {
	.cover-img {
		height: 800px;
	}
}

//タブレット用のCSS
@media only screen and (min-width : 768px) and (max-width : 1200px) {
	.cover-img {
		height: 500px;
	}
}

//スマホ用のCSS
@media only screen and (max-width: 479px) {
	.cover-img {
		height: 300px;
		background-position: center center;
	}
}


//メニューバーの装飾
ul.navbar-nav {
   margin: 0px;               /* メニューバー外側の余白(ゼロ) */
   padding: 0px 0px 0px 0px; /* メニューバー内側の余白(左に15px) */
   background-color: #262626B3; /* バーの背景色 */
}


//メインメニュー項目の装飾
.nav-item {
   //width: 125px;
   background-color: #262626B3; /* メニュー項目の背景色*/
   color: #ffffff;              /* メニュー項目の文字色(白色) */
   line-height: 40px;         /* メニュー項目のリンクの高さ(40px) */
   text-align: center;        /* メインメニューの文字列の配置(中央寄せ) */
   display: block;            /* ★4:項目内全域をリンク可能にする */
}
.nav-item:hover {
   background-color: #D9CDB8B3; /* メニュー項目にマウスが載ったときの背景色 */
   color: #262626;            /* メニュー項目にマウスが載ったときの文字色 */
}

//サブメニューは非表示にしておく
ul.navbar-nav ul {
   display: none;       /* ★1:標準では非表示にする */
   margin: 0px;         /* ★2:サブメニュー外側の余白(ゼロ) */
   padding: 0px;        /* ★3:サブメニュー内側の余白(ゼロ) */
   position: absolute;  /* ★4:絶対配置にする */
}

//サブメニューがある場合に開く処理
ul.navbar-nav li:hover ul {
   display: block;      /* マウスポインタが載っている項目の内部にあるリストを表示する */
}

//サブメニュー項目の装飾
ul.navbar-nav ul li {
   background-color: #D9D5C5B3;
   //width: 135px;               /* サブメニュー1項目の横幅(135px) */
   border-top: 1px solid #D9D5C5; /* 項目上側の枠線(1pxの実線) */
   line-height: 35px;   /* サブメニュー1項目の高さ(35px) */
   text-align: center;    /* 文字列の配置 */
   padding-left: 5px;   /* 文字列前方の余白(5px) */
   font-weight: normal; /* 太字にはしない */
   position: relative;

}
ul.navbar-nav ul li:hover {
   background-color: #F2F2F2B3; /* サブメニュー項目にマウスが載ったときの背景色 */
   color: #005500;            /* サブメニュー項目にマウスが載ったときの文字色 */
}

//ハンバーガー部分
.navbar-toggler{
  background-color: #333333B3;
  border-color: #ffffff;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


.error_messages {
  margin-inline: auto;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #e3bf00;
}

.top-text {
  color: #ffffff;
  text-shadow: 1px 1px 2px #808080;
  margin: 150px 0px 0px 0px;
}

//user
.sub_container {
  margin: 25px auto;
  background-color: #F2F2F2B3;
}

.pagination {
  margin: 20px auto 0;
  width: 50%;
  display: flex;
  justify-content: center;
  span{
    text-align: center;
    width: 50px;
    :hover{
      background-color: #A69981;
      color: #F2F2F2;
    }
    a{
      color: #262626;
      display: block;
      width: 100%;
      height: 100%;
      :hover{
        background-color: #A69981;
        color: #F2F2F2;
      }
    }
  }
}
.current {
  background-color: #A69981;
  color: #F2F2F2;
}

.card {
   background-color: #F2F2F2CC;
}

.background-record {
   background-color: #F2F2F2E6;
}

.h4-review {
  margin-inline: auto;
  width: -moz-fit-content;
  width: fit-content;
  background-image: linear-gradient(rgba(0 0 0 / 0) 70%, #F29D52 70%);
}

.h4-favorite {
  margin-inline: auto;
  width: -moz-fit-content;
  width: fit-content;
  background-image: linear-gradient(rgba(0 0 0 / 0) 70%, #F2ACB2 70%);
}

.h4-search {
  margin-inline: auto;
  width: -moz-fit-content;
  width: fit-content;
  background-image: linear-gradient(rgba(0 0 0 / 0) 70%, #03A6A6 70%);
}

.h4-create {
  margin-inline: auto;
  width: -moz-fit-content;
  width: fit-content;
  background-image: linear-gradient(rgba(0 0 0 / 0) 70%, #0378A6 70%);
}

.h5-comment {
  width: -moz-fit-content;
  width: fit-content;
  background-image: linear-gradient(rgba(0 0 0 / 0) 70%, #FDEFDA 70%);
}

.form-title {
  margin: 0 2px;
}

.card-header {
  background-color: #D9CDB8;
}

.card-main {
  background-color: #F2F2F2;
}

.card-footer {
  background-color: #A69981;
}

.btn-center {
  margin-inline: auto;
}

.item {
  display: inline-block;
  padding: 10px;
  background-color: #F2EFC4;
  border-radius: 30px 3px;
}

.shop-price {
  display: inline-block;
  padding: 5px;
  background-color: #F2EFC4;
  border-radius: 20px 3px;
}

.review {
  background-color: #D9D5C5;
}

.tag {
  border: 1px 0px;
  border-color: #A69981;
}

//コメント機能
.balloon-009 {
    display: flex;
    align-items: start;
    gap: 0 22px;
}

.balloon-009 img {
    max-width: 80px;
    height: 100%;
    border-radius: 50%;
}

.balloon-009 p {
    position: relative;
    max-width: 400px;
    margin: 3px 0 0;
    padding: .8em 1em;
    border-radius: 5px;
    background-color: #FDEFDA;
    color: #333333;
}

.balloon-009 p::before {
    position: absolute;
    left: -15px;
    width: 15px;
    height: 30px;
    background-color: #FDEFDA;
    clip-path: polygon(0 50%, 100% 0, 100% 100%);
    content: '';
}

//mypage
.mypage-border {
  width: -moz-fit-content;
  width: fit-content;
  background-image: linear-gradient(rgba(0 0 0 / 0) 70%, #BFAE99 70%);
}

// admin
.background-board {
   background-color: #ffffffE6;
}
