<div class="container w-75">
  <div class="background-board py-3 px-5 my-4">
  <div class="margin-y">
      <h4 class="h4-search mb-4">ユーザー一覧</h4>
    <table class='table table-hover table-light-0 margin-y'>
      <thead>
        <tr>
          <th>ユーザーID</th>
          <th>ユーザー名</th>
          <th>メールアドレス</th>
          <th>ユーザーステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= link_to user.name, admin_user_path(user.id) %></td>
            <td><%= user.email %></td>
            <td>
              <% if user.is_deleted %>
                <span class="text-muted">退会済み</span>
              <% else %>
                <span class="text-success"><strong>有効</strong></span>
              <% end %>
            </td>
          </tr>
        <% end %>
    </table>
  </div>
  <%= paginate @users %>
</div>