<div class='container px-3 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <%= render 'public/records/sidebar', record: @record %>
    </div>

    <div class='col-md-9 py-5'>
        <h4>Coffee Review</h4>
        <% @record_coffees.each do |record_coffee| %>
          <%= render 'public/record_coffees/index', record_coffee: record_coffee %>
        <% end %>
        <h4>Tea Review</h4>
        <% @record_tea_leaves.each do |record_tea_leafe| %>
          <%= render 'public/record_tea_leaves/index', record_tea_leafe: record_tea_leafe %>
        <% end %>